@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --header-height: 3rem;
    --first-color: #5c8246;
    --first-color-alt:#38514b;
    --title-color: #393939;
    --text-color:#707070;
    --text-color-light:#A6A6A6;
    --b2-color:#fff;
    --body-color:#fbfbfe;
    --container-color:#ffffff;
    --body-font: 'poppins', sans-serif;
    --biggest-font-size:2.25rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1rem;
    --normal-font-size:.938rem;
    --small-font-size:.813rem;
    --smaller-font-size:.75rem;
    --font-medium: 500;
    --font-semi-bold:600;
    --mb-1:.5rem;
    --mb-2:1rem;
    --mb-3:1.5rem;
    --mb-4:2rem;
    --mb-5:2.5rem;
    --mb-6:3rem;
    --z-tooltip:10;
    --z-fixed:100;
}

@media screen and (min-width: 768px){
    :root{
        --biggest-font-size:4rem;
        --h1-font-size:2.25rem;
        --h2-font-size:1.5rem;
        --h3-font-size:1.25rem;
        --normal-font-size:1rem;
        --small-font-size: .875rem;
        --smaller-font-size:.813rem;
    }
}

*,::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
 

body.dark-theme{
    --title-color: #f1f3f2;
    --text-color:#c7d1cc;
    --b2-color:#393939;
    --body-color:#1d2521;
    --container-color:#27302c;
}

.change-theme{
    position: absolute;
    right: 1rem;
    top: 1.8rem;
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}

h1,h2,h3,p,ul{
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}



.section{
    padding: 4rem 0 2rem;
}

.section-title, .section-subtitle{
    text-align: center;
}

.section-title{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
}

.section-subtitle{
   display: block; 
   color: var(--first-color);
   font-weight: var(--font-medium);
   margin-bottom: var(--mb-1);
}

.bd-container{
    max-width:960px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.bd-grid{
    display: grid;
    gap: 1.5rem;
}

.i-header{
  width: 100%;  
  position: fixed;
  top: 0;
  left: 0;
  z-index:  var(--z-fixed);
  background-color: var(--body-color);
}

.nav{
    max-width: 1024px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 1.5rem 0 1rem;
        text-align: center;
        background-color: var(--body-color);
        transition: .4s;
        box-shadow: 0 4px 4px rgba(0,0,0,.1);
        border-radius: 0 0 1rem 1rem;
        z-index: var(--z-fixed);
    }
}

.nav__item{
    margin-bottom: 1rem;
}

.nav__link, .nav__toggle{
    color: var(--text-color);
    text-decoration: none;
    font-weight: var(--font-medium);
}

.nav__logo img{
    height: 60px;
    padding-top: 7px;
    width: 70px;
}

.nav__link{
    transition: .3s;
    text-decoration: none;
}

.nav__link:hover{
    color: var(--first-color);
}

.nav__toggle{
    font-size: 1.3rem;
    cursor: pointer;
}

.change-theme{
    position: initial;
    margin-left: var(--mb-2);
}

.show-menu{
    top: var(--header-height);
}

.active-link{
    color: var(--first-color);
}

.scroll-header{
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background: var(--first-color) ;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    text-decoration: none;
    visibility: hidden;
}

.scrolltop:hover{
    background-color: var(--first-color-alt);
}

.scrolltop__icon{
    font-size: 1.8rem;
    color: #fff;
}

.scroll-top{
    visibility: visible;
    bottom: 1.5rem;
}

.home__container{
    align-content: center;
    max-width: 100%;
    height: auto;
}

.home__title{
    font-size: var(--biggest-font-size);
    color: var(--first-color);
    margin-top: 3rem;
}
/* .home__title span {
    display: inline-block;
    -webkit-animation: wave-text .5s ease-in-out ;
            animation: wave-text 2s ease-in-out infinite;
}
.home__title span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  .home__title span:nth-of-type(2) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
  .home__title span:nth-of-type(3) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .home__title span:nth-of-type(4) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .home__title span:nth-of-type(5) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .home__title span:nth-of-type(6) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .home__title span:nth-of-type(7) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .home__title span:nth-of-type(8) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .home__title span:nth-of-type(9) {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
  @-webkit-keyframes wave-text {
    00% {
      transform: translateY(0em);
    }
    60% {
      transform: translateY(-0.6em);
    }
    100% {
      transform: translateY(0em);
    }
  }
   
  @keyframes wave-text {
    00% {
      transform: translateY(0em);
    }
    60% {
      transform: translateY(-0.6em);
    }
    100% {
      transform: translateY(0em);
    }
  } */
.home__subtitle{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-top: .5rem;
}

.home img{
    margin-top: 2rem;
    width: auto;
    height: 320px;
    justify-content: center;
}
.btnn{
    display: flex;
    gap: 5px;
}
.button{
    border: none;
    background-color: var(--first-color);
    padding: .99rem .5rem;
    border-radius: .5rem;
    transition: .3s;
    margin-top:2rem;
    text-decoration: none;
    color: #fff;
}
button{
    display: inline-block;
    border: none;
    background-color: var(--first-color);
    padding: .85rem 1rem;
    border-radius: .5rem;
    height: 75%;
    transition: .3s;
    margin-top: 2rem;
}

.b2{
    background: var(--title-color);
}
.b2 a{
    color: var(--b2-color);
}

button a{
    color: #fff;
    text-decoration: none;
    display: flex;
    font-size: 17px;
}

.button .bx{
    font-size: 20px;
}

.button:hover{
    /* background-color: var(--first-color-alt); */
    letter-spacing: 1px;
}
.spi{
    display: flex;
    justify-content: center;
}
.spi img{
    height: 130px;
}


.about__data{
    text-align: center;
    height: fit-content;
}
.about__data button{
    height: 60px;
    width: max-content;
}
.about__data span{
    font-weight: 600;
}
.about img{
    width: auto;
    height: auto;
    margin-top: 3rem;
    border-radius: .5rem;
    justify-self: center;
}

.services span{
    font-weight: 600;
}
.services__container{
    row-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.services__content{
    text-align: center;
}
.services__img{
    width: 90px;
    height: 90px;
    margin-bottom: var(--mb-2);
}
.services__title{
    font-size: var(--h3-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}
.services__description{
    padding: 0 1.5rem;
}

.menu__container{
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}
.menu span{
    font-weight: 600;
}
.menu__content{
    position:relative;
    display: flex;
    flex-direction: column;
    background-color: var(--container-color);
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(3,74,40,.15);
    padding: .75rem;
}
.menu__img{
    width: 100px;
    align-self: center;
    margin-bottom: var(--mb-2);
}
.menu__name, .menu__price{
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}
.menu__name{
    font-size: var(--normal-font-size);
}
.menu__detail, .menu__price{
    font-size: var(--small-font-size);
}
.menu__detail{
    margin-bottom: var(--mb-1);
}
.menu__button{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: .625rem .813rem;
    border-radius: .5rem 0 .5rem 0;
}

.app__data{
    text-align: center;
}
.app__data span{
    font-weight: 600;
}
.app__description{
    margin-bottom: var(--mb-5);
}
.app__stores{
    margin-bottom: var(--mb-4);
}
.app__store{
    width: 120px;
    margin: 0 var(--mb-1);
}
.app__img{
    width: 230px;
    justify-self: center;
}
.app__container .phone{
    width: 100%;
}
.app__container .phone img{
    height: 400px;
    width: 1000px;
    justify-self: center;
}

.contact__container{
    text-align: center;
}
.contact__description{
    margin-bottom: var(--mb-3);
}
.contact__data span{
    font-weight: 600;
}

.footer__container{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
}
.footer__content a{
    text-decoration: none;
}
.footer__logo{
    font-size: var(--h3-font-size);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
}
.footer__description{
    display: block;
    font-size: var(--small-font-size);
    margin: .25rem 0 var(--mb-3);
}
.footer__social{
    font-size: 1.5rem;
    color: var(--title-color);
    margin-right: var(--mb-2);
}
.footer__title{
    font-size: var(--h2-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-2);
}
.footer__link{
    display: inline-block;
    color: var(--text-color);
    margin-bottom: var(--mb-1);
}
.footer__link:hover{
    color: var(--first-color);
}
.footer__copy{
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-top: 3.5rem;
}



@media screen and (min-width:576px){
    .home__container,
    .about__container,
    .app__container{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }

    .about__data{
        margin-top: 3rem;
    }

    .about img{
        margin-top: 3rem;
    }

    .about__data, .about__initial,
    .app__data, .app__initial,
    .contact__container, .contact__initial{
        text-align: initial;
    }

    .contact__container{
        grid-template-columns: 1.75fr 1fr;
        align-items: center;
    }
    .container__button{
        justify-self: center;
    }
    .spi{
        /* justify-content: space-between; */
        justify-content: center;
    }
    .spi img{
        height: 250px;
    }
}


@media screen and (min-width:768px){
    body{
        margin: 0;
    }

    .section{
        padding-top: 8rem;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__list{
        display: flex;
    }
    .nav__item{
        margin-left: var(--mb-5);
        margin-bottom: 0;
    }
    .home__title{
        font-size: 50px;
    }
    .home__subtitle{
        font-size: 30px;
    }
    .home__container{
        margin-top: 0rem;
    }
    

    .nav__toggle{
        display: none;
    }

    .home__container{
        height: 100vh;
        margin-top: -2rem;
        justify-items: center;
    }

    .services__container,
    .menu__container{
        margin-top: var(--mb-6);
    }
    .menu__container{
        grid-template-columns: repeat(3, 210px);
        column-gap: 4rem;
    }
    .menu__content{
        padding: 1.5rem;
    }
    .menu__img{
        width: 130px;
    }
    .app__store{
        margin: 0 var(--mb-1) 0 0;
    }
}

@media screen and (min-width:960px){
    .bd-container{
        margin-left: auto;
        margin-right: auto;
    }
    .home__title{
        font-size: 60px;
    }
    .home__subtitle{
        font-size: 40px;
    }
    .home img{
        width: 500px;
        height: 400px;
    }
    .about__container,
    .app__container{
        column-gap: 7rem;
    }
}
